<!DOCTYPE html>
<html lang="en" xmlns:c="">
<!--head-->
<div th:replace="/admin/layout/head :: head"></div>
<!--head-->
<div class="alert alert-fixed" role="alert" id="postResultDiv" th:style="'display: ' + (${alertMessage != null} ? 'block' : 'none') + ';'">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
        <use xlink:href="#check-circle-fill"></use>
    </svg>
    <div id="alertMessage" th:text="${alertMessage}"></div>
    <span class="close-btn" onclick="$('#postResultDiv').fadeOut();">&times;</span>
</div>
<body class="no-skin">

<!--navbar-top-->
<div th:replace="/admin/layout/navbar-top :: navbar-top"></div>
<!--navbar-top-->

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <!--        menu-left-->
    <div th:replace="/admin/layout/menu-left :: menu-left"></div>
    <!--        menu-left-->

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try { ace.settings.check('breadcrumbs', 'fixed') } catch (e) {}
                </script>

                <ul class="breadcrumb">
                    <li class="active">Management</li>
                </ul><!-- /.breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                    <span class="input-icon">
                        <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                    </form>
                </div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="page-header">

                </div><!-- /.page-header -->

                <div class="container-fluid mt-5 ">
                    <h2 class="mb-4">Tạo phiếu đăng ký nhập viện</h2>
                    <br>
                    <form id="admissionForm">
                        <input type="hidden" id="patientId" name="patientId" th:value="${patient.ID}">
                        <!-- Doctor -->
                        <div class="form-group row mb-3">
                            <label for="doctorId" class="col-sm-1 col-form-label">Bác sĩ</label>
                            <div class="col-sm-11">
                                <select class="form-select form-control" id="doctorId" name="doctorId" required>
                                    <option value="">Chọn...</option>
                                    <option th:each="doctor : ${doctors}"
                                            th:value="${doctor.ID}"
                                            th:text="${'Bs. ' + doctor.firstName + ' ' + doctor.lastName}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Nurse -->
                        <div class="form-group row mb-3">
                            <label for="nurseId" class="col-sm-1 col-form-label">Y tá</label>
                            <div class="col-sm-11">
                                <select class="form-select form-control" id="nurseId" name="nurseId" required>
                                    <option value="">Chọn ...</option>
                                    <option th:each="nurse : ${nurses}"
                                            th:value="${nurse.ID}"
                                            th:text="${'Yta. ' + nurse.firstName + ' ' + nurse.lastName}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Date of Admission -->
                        <div class="form-group row mb-3">
                            <label for="dateAdmission" class="col-sm-1 col-form-label">Ngày nhập viện</label>
                            <div class="col-sm-11">
                                <input type="date" class="form-control" id="dateAdmission" name="dateAdmission" required>
                            </div>
                        </div>

                        <!-- Date of Discharge -->
                        <div class="form-group row mb-3">
                            <label for="dateOfDischarge" class="col-sm-1 col-form-label">Ngày xuất viện</label>
                            <div class="col-sm-11">
                                <input type="date" class="form-control" id="dateOfDischarge" name="dateOfDischarge">
                            </div>
                        </div>

                        <!-- Sickroom -->
                        <div class="form-group row mb-3">
                            <label for="sickroom" class="col-sm-1 col-form-label">Phòng bệnh</label>
                            <div class="col-sm-11">
                                <select class="form-select form-control" id="sickroom" name="sickroom" required>
                                    <option value="">Chọn phòng bênh...</option>
                                    <option th:each="room : ${rooms}"
                                            th:value="${room.roomNo}"
                                            th:text="${'Phòng ' + room.roomName}">
                                    </option>
                                </select>
                            </div>
                        </div>

                        <!-- Diagnosis -->
                        <div class="form-group row mb-3">
                            <label for="diagnosis" class="col-sm-1 col-form-label">Chẩn đoán</label>
                            <div class="col-sm-11">
                                <textarea class="form-control" id="diagnosis" name="diagnosis" maxlength="255" rows="3" required></textarea>
                            </div>
                        </div>

                        <!-- Submit Button -->

                        <div class="col-12 text-right py-3">
                            <button type="submit" class="btn btn-primary px-4 py-2">Lưu</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<!--[if !IE]> -->
<script th:src="@{/admin/assets/js/jquery.2.1.1.min.js}"></script>
<!-- <![endif]-->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/admin/assets/js/jquery.min.js}'>"+"<"+"/script>");
</script>
<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script th:src='@{/admin/assets/js/jquery1x.min.js}'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if('ontouchstart' in document.documentElement)
        document.write("<script th:src='@{/admin/assets/js/jquery.mobile.custom.min.js}'>"+"<"+"/script>");
</script>

<script th:src="@{/admin/assets/js/bootstrap.min.js}"></script>

<!-- page specific plugin scripts -->
<script th:src="@{/admin/assets/js/fuelux.wizard.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.validate.min.js}"></script>
<script th:src="@{/admin/assets/js/additional-methods.min.js}"></script>
<script th:src="@{/admin/assets/js/bootbox.min.js}"></script>
<script th:src="@{/admin/assets/js/jquery.maskedinput.min.js}"></script>


<!-- ace scripts -->
<script th:src="@{/admin/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/admin/assets/js/ace.min.js}"></script>
<!-- inline scripts related to this page -->




    <script>
        $(document).ready(function() {
        $('#admissionForm').on('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            // Collect form data
            const formData = {
                inpatientId: $('#patientId').val(),
                doctorId: $('#doctorId').val(),
                nurseId: $('#nurseId').val(),
                dateAdmission: new Date($('#dateAdmission').val()).toISOString(),
                dateOfDischarge: $('#dateDischarge').val() ? new Date($('#dateDischarge').val()).toISOString() : null,
                sickroom: $('#sickroom').val(),
                diagnosis: $('#diagnosis').val()
            };

            // Call API to create admission using AJAX
            console.log("Form Data before sending:", formData);
            $.ajax({
                url: '/admission/add', // Replace with your API endpoint
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    // Trigger success alert after successful API call
                    setTimeout(function() {
                        window.location.href = '/patients'; // Redirect to patients page
                    }, 1000); // Delay of 5 seconds

                    $('#postResultDiv').removeClass('alert-danger').addClass('alert-success'); // Set to success alert
                    $('#alertMessage').text(response.message); // Update the alert message
                    $('#postResultDiv').show().addClass('alert-fixed');


                },
                error: function (xhr, status, error) {
                    console.error('Error during API request:', error);
                    $('#postResultDiv').removeClass('alert-success').addClass('alert-danger'); // Set to danger alert
                    $('#alertMessage').text("Failed to add admission!"); // Update the alert message
                    $('#postResultDiv').show().addClass('alert-fixed');
                    setTimeout(function() {
                        $('#postResultDiv').fadeOut();
                    }, 2000);
                }
            });
        });
    });
</script>




</body>
</html>
