<html xmlns:th="http://www.thymeleaf.org" lang="en">

<th:block th:fragment="menu-left">
    <div id="sidebar" class="sidebar responsive">
        <script type="text/javascript">
            try {ace.settings.check('sidebar', 'fixed')} catch(e) {}
        </script>

        <!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">
            <li class="active">
                <a th:href="@{/home}">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text">Home</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="active">
                <a th:href="@{/patients/0}">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text"> Danh sách bệnh nhân </span>
                </a>
                <b class="arrow"></b>
            </li>

<!--            <th:block th:if="${#lists.contains(employee.user.roles, 'ADMIN')}">-->
<!--                <li class="active">-->
<!--                    <a th:href="@{/examinations/0}">-->
<!--                        <i class="menu-icon fa fa-adjust"></i>-->
<!--                        <span class="menu-text">Danh sách khám bệnh</span>-->
<!--                    </a>-->
<!--                    <b class="arrow"></b>-->
<!--                </li>-->
<!--            </th:block>-->

            <li class="active">
                <a th:href="@{/examinations/0}">
                    <i class="menu-icon fa fa-adjust"></i>
                    <span class="menu-text">Danh sách khám bệnh</span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="active">
                <a th:href="@{/admissions/0}">
                    <i class="menu-icon fa fa-bars"></i>
                    <span class="menu-text"> Đăng kí nội trú</span>
                </a>
                <b class="arrow"></b>
            </li>

        </ul><!-- /.nav-list -->

<!--        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">-->
<!--            <i class="ace-icon fa fa-angle-double-left"-->
<!--               data-icon1="ace-icon fa fa-angle-double-left"-->
<!--               data-icon2="ace-icon fa fa-angle-double-right"></i>-->
<!--        </div>-->

        <script type="text/javascript">
            try {ace.settings.check('sidebar', 'collapsed')} catch(e) {}
        </script>
    </div>
</th:block>